.content{
	margin-top: 60px;
}
.navbar-text{
	margin:8px 35px 5px 15px;
}

.mountain{
	width: 175px;
	margin-left: 15px;
}

.svg-image{
	display: inline-block;
	width: 400px;
	height: 400px;
}

.jumbotron {
    position: relative;
    background: rgba(50, 54, 54, 0.1);
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}

.jumbotron h1{
	text-align: center;
	color: white;
}