.content{
	margin-top: 60px;
}

.navbar-text{
	margin:8px 35px 5px 15px;
}

.mountain{
	width: 175px;
	margin-left: 15px;
}

.svg-image{
	display: inline-block;
	width: 400px;
	height: 400px;
}

.jumbotron {
    position: relative;
    background: rgba(0, 0, 0, 0.01);
    width: 100%;
    overflow: hidden;
}

.jumbotron h1,h3,a,h2{
	text-align: center;
	text-decoration:none;
}

.jumbotron a:hover{
    text-decoration:none;
    color: white;
}	

#registration  {
	text-align: center;
	color: white;
	background-color: black;
}

 #map { height: 50%; }

 .intro_class{
 	color:white;
 }

 .intro_class a{
 	color:white;
 	text-decoration:underline;
 }